.user-profile-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
  }
  
  .user-profile-placeholder h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .user-profile-placeholder p {
    font-size: 1.25rem;
  }
  
  .navbar {
    background-color: #62686e;
    padding: 1rem;
  }
  
  .navbar-nav {
    margin-left: 1rem; /* Aligns the dropdown to the left */
  }
  
  .profile-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
  }
  
  .profile-pic-container {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 1rem;
  }
  
  .user-stats-header {
    text-align: center;
    margin: 2rem 0;
  }
  
  .card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    margin: 1rem;
    flex: 1 1 300px;
  }
  
  .card-body {
    text-align: left;
  }